/* CSS Reset */

* {
    box-sizing: border-box;
    outline: none;
    transition: .2s;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

header,
nav,
main,
article,
aside,
footer {
    display: block;
}

/* Background */

body {
    background-image: url('/img/background01.jpg');
    background-attachment: fixed;
    background-color: blueviolet;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Links */

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}

/* Wrap */

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: auto;
}

/* Header */

.wrap>header {
    display: flex;
    background: rgba(255, 210, 255, 0.7);
    align-items: center;
}

.wrap>header img {
    display: block;
    width: 75px;
    height: auto;
    margin: .5rem 1rem .5rem .5rem;
}

.wrap>header h1 {
    margin: 0;
    text-align: center;
    color: rgb(50, 0, 50);
    letter-spacing: 2px;
}

.wrap>header small {
    display: block;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: normal;
}

/* Nav */

.wrap>nav {
    background: rgba(33, 0, 33, .8);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wrap>nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    color: #fff;
}

.wrap>nav a:first-child {
    margin-right: auto;
}

.wrap>nav a:hover {
    background: #fff;
    color: rgb(33, 0, 33);
    text-decoration: none;
}

.wrap>nav i {
    font-size: 1.5rem;
    display: block;
    margin-bottom: .25rem;
}

/* Usuário logado nmo menu principal */

.menu-user img {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-bottom: .25rem;
    border-radius: 50%;
}

/* Footer */

.wrap>footer {
    background: rgba(15, 0, 15, 0.9);
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 1px dotted grey;
}

.footer-top a {
    font-size: 1.5rem;
    padding: .25rem;
    color: #fff;
}

.footer-top a:hover {
    color: rgb(33, 0, 33);
    background: #fff;
}

.footer-bottom {
    display: flex;
    color: #fff;
    justify-content: space-around;
}

.footer-bottom div {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.footer-bottom h4 {
    margin: 0;
    margin-bottom: .5rem;
}

.footer-bottom a {
    color: rgb(252, 162, 252);
}

.footer-bottom a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-bottom i {
    font-size: 1.2rem;
    margin-right: .25rem;
}

/* Sticky footer */

.wrap {
    display: flex;
    flex-direction: column;
}

.wrap>main {
    flex-grow: 1;
}

/* Main, Article e Aside */

.wrap>main {
    display: flex;
    flex-direction: column;
}

.wrap>main>article {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    flex-grow: 1;
}

.wrap>main>article>h2:first-child,
.wrap>main>aside>h3:first-child,
.wrap>main>aside>h4:first-child {
    margin-top: 0;
}

.wrap>main>article>*:last-child,
.wrap>main>aside>*:last-child {
    margin-bottom: 0;
}

.wrap>main>aside {
    border-top: 5px dotted purple;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.7);
}

/* Telas maiores que 768px */

@media (min-width: 768px) {

    /* Main, Article e Aside */

    .wrap>main {
        flex-direction: row;
    }

    .wrap>main>article {
        padding: 1rem;
    }

    .wrap>main>aside {
        border-top: 0;
        border-left: 5px dotted purple;
        min-width: 200px;
        max-width: 200px;
    }

}

/* Telas maiores que 475px */

@media (min-width: 475px) {

    /* Nav */

    .wrap>nav a {
        flex-direction: row;
    }

    .wrap>nav i,
    .menu-user img {
        margin-bottom: 0;
        margin-right: .5rem;
    }

}

/* Estiliza conteúdo da index */

.art_block {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, .1);
}

.art_block:hover {
    background-color: rgba(0, 0, 0, .2);
}

.art_block img {
    display: block;
}

.art_block div {
    padding: .5rem;
}

.art_block h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.art_block span {
    font-size: 90%;
}

aside .u_list {
    margin: 0;
    padding: 0 0 0 .8rem;
    font-size: 90%;
}

aside .u_list li {
    margin-top: .5rem;
}

/* Telas maiores que 475px */

@media (min-width: 475px) {

    .art_block {
        flex-direction: row;
        align-items: center;
    }

    .art_block img {
        width: 90px;
        height: 90px;
    }
}

/* Classes de uso geral */

.center {
    text-align: center;
}

hr.separator {
    border: none;
    border-bottom: 1px dotted grey;
}